#message_grid_container {
  width: 100%;
  min-height: 70px;
  max-height: 500px;
  --gap: 8px;
  padding: calc(var(--gap) / 2);
  overflow: hidden;
  display: flex;
  align-items: center;
  animation: popup 0.5s ease-out;
}

#message_grid {
  max-width: 60%;
  /* height: calc(70px - var(--gap)); */
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: baseline;
}

#m_g_profilePic_sec {
  height: 100%;
  width: 46px;
}
.m_g_pfp_div {
  width: 46px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.m_g_pfp_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#m_g_message_sec {
  flex: 1;
}
#m_g_name_time {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  justify-content: baseline;
  padding: 0px 12px 0px 12px;
  max-height: 20px;
  font-size: x-small;
  color: rgba(255, 255, 255, 0.845);
}

.m_g_content {
  /* background: linear-gradient(180deg, #004f8f, #38a4fc78); */
  background-color: blueviolet;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px 0px 0px 10px;
  border-radius: 0px 14px 14px 14px;
  padding: 3px;
}
#m_g_message_div {
  width: 100%;
}

#m_g_message {
  text-wrap: wrap;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}
#m_g_media_div {
  border-radius: 12px;
}
@keyframes popup {
  0% {
    translate: 0px 50px;
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    translate: 0px 0px;
    opacity: 100%;
  }
}
@keyframes scale {
  0% {
  }
  100% {
  }
}

.m_end {
  justify-content: end;
}

.m_flexReverse {
  flex-direction: row-reverse;
  /* margin: 10px 10px 0px 0px; */
}
.m_margin_reverse {
  /* background: linear-gradient(180deg, #3fcd4b, #17cb1a6d); */
  background-color: rgb(83, 206, 42);
  margin: 4px 10px 0px 0px;
  border-radius: 14px 0px 14px 14px;
}
