#profile_container {
  font-family: "poppins" sans-serif;
  font-weight: 300;

  /*  */
  --gap: 8px;
  /*  */
  height: 100dvh;
  width: 400px;
  background-color: black;
  padding: calc(var(--gap));
  min-width: 375px;
  max-width: 400px;
}
#profile_sub_container {
  height: calc(100%);
  width: calc(100%);
  background-color: var(--color-zinc-800);
  /* background-color: azure; */
  border-radius: 30px;
  padding: var(--gap);
  display: flex;
  flex-direction: column;
}
.profile_banner_div {
  width: 100%;
  aspect-ratio: 16/7;
  background-color: var(--color-zinc-600);
  border-radius: 22px;
  overflow: visible;
  position: relative;
  /* box-shadow: 0px 0px 3px 0px rgb(0, 0, 0); */
}
.p_b_image_div {
  border-radius: 22px;
  height: 100%;
  width: 100%;
  background-color: brown;
  /* padding-left: 10px; */
  overflow: hidden;
  position: relative;
}
.p_b_img {
  object-fit: contain;
}
.p_b_img_overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}
.p_b_status {
  width: 150px;
  height: 36px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.p_b_status > h1 {
  color: white;
}
.p_avatar_div {
  height: 55%;
  aspect-ratio: 1/1;
  background-color: var(--color-zinc-400);
  position: absolute;
  bottom: -26px;
  left: 8px;
  z-index: 2;
  border-radius: 50%;
}
#profile_info_div {
  /* background-color: var(--color-zinc-600); */
  width: 100%;
  height: fit-content;
  margin-top: 26px;
  padding: var(--gap);
}
.profile_info_username {
  /* line-height: 30px; */
  font-size: 22px;
  font-weight: 600;
}

.profile_info_about {
  opacity: 70%;
  width: 100%;
  max-height: 48px;
}
#profile_email_div {
  width: 100%;
  height: 36px;
  background-color: var(--color-zinc-700);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding-left: var(--gap);
}
#p_3row_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-top: 30px;
  /* background-color: azure; */
  border-radius: 0px 0px 20px 20px;
}
.p_3row_tabs {
  height: 50px;
}
.p_3row_div_sub {
  flex: 1;
  width: 100%;
  overflow: scroll;
  border-radius: var(--gap);
}
.p_3row_sub_div {
  width: 100%;
  column-count: 3;
  gap: var(--gap);
  padding: var(--gap);
}
.c_img {
  /* border: 1px solid rgb(255, 255, 255); */
  background-color: var(--color-zinc-700);
  border-radius: var(--gap);
  margin-bottom: var(--gap);
  width: 100%;
  max-width: 150px;
}
.column_images1 {
  height: 140px;
}
.column_images2 {
  height: 180px;
}
.column_images3 {
  height: 150px;
}
.column_images4 {
  height: 100px;
}
.column_images5 {
  height: 250px;
}
.column_images6 {
  height: 200px;
}

#selfProfile_container {
  --gap: 8px;
  height: 100dvh;
  background-color: rgb(0, 0, 0);
  padding: calc(var(--gap));
  min-width: 375px;
  max-width: 400px;
  display: none;
}
#selfProfile_sub_container {
  height: calc(100%);
  width: calc(100%);
  background-color: var(--color-zinc-800);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
}
#selfProfile_scroll_container {
  overflow-y: scroll;
  border-radius: 25px;
  scrollbar-width: none;
}
#selfProfile_hero_section {
  width: 100%;
  height: 70%;
  background-color: var(--color-green-100);
  position: relative;
  border: 25px 25px 0px 0px;
}
#hero_section_bg_img {
  object-fit: cover;
  height: 100%;
}
#hero_sec_img_overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00000000, #00000000, rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
}
#selfProfile_container_two {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 700px;
  border: none;
}
.s_p_pfp_div {
  width: 70%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
}
.s_p_pfp {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pfp_edit_button {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 16px;
  bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
}

.s_p_name {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: x-large;
}
.s_p_about {
  text-align: center;
  font-weight: 300;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.602);
}

.pfp_input {
  width: 100%;
  height: 100%;
  background-color: darkorchid;
}
.pfp_input_icon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 16px;
  bottom: 10px;
  background-color: rgb(114, 219, 66);
  border-radius: 50%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
