*,
*::before,
*::after {
  box-sizing: border-box;
}
/* rgb(33, 20, 49), rgb(208, 126, 255) */
#r_chatbar_container {
  background-color: #000000;
  height: 100dvh;
  overflow-y: hidden;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  /* background-color: rgb(33, 0, 68); */
}
#ChatBar_search_div {
  height: 65px;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
}
#ChatBar_search_div input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  caret-color: rgb(111, 1, 155);
  background-color: rgba(255, 255, 255, 0.108);
}
#ChatBar_search_div input:focus {
  outline: none;
}
#ChatBar_search_div input::placeholder {
  color: white;
  font-weight: 400;
}

/*  */

#ChatBar_RecentMessages {
  width: 100%;
  min-height: 0;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* display: flex;
  flex-direction: column; */
  background-color: rgb(0, 0, 0);
  padding: 6px;
}
#Scroll_RecentMessages {
  display: grid;
  gap: 6px;
}

#r_border_botton {
  height: 10px;
  width: 100%;
}

.messagePreviewDiv {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.076);

  border-radius: 10px;
  /* animation: fadeup 0.5s ease-out; */
}
.mp_avatarContainer {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mp_avatarDiv {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.mp_avatar {
}
.mp_subDiv {
  flex: 1;
  display: grid;
  grid-template-rows: 1, 1;
}
.mp_name_time_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mp_name_time_div h5 {
}
.mp_name_time_div h6 {
}

.mp_message_div {
  align-content: center;
}
.mp_message_div h6 {
}

#r_cb_floating_button {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: rgb(128, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#ar_showAvatarsDiv {
  width: 100%;
  height: 60px;
  overflow-x: scroll;
  display: flex;
  justify-content: baseline;
  gap: 10px;
  /* justify-content: space-evenly; */
  /* background-color: rgb(71, 71, 71); */
}
#rc_fake_space {
  height: 300px;
  width: 100%;
}
