*,
*::before,
*::after {
  box-sizing: border-box;
}

#r_chatbar_container {
  background-color: #262626;
  height: 100dvh;
  overflow-y: hidden;
  /* width: 300px; */
  position: relative;
}
#ChatBar_search_div {
  height: 65px;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  background-color: #2b2c2b;
}
#ChatBar_search_div input {
  background-color: #ffffff61;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  caret-color: rgb(111, 1, 155);
}
#ChatBar_search_div input:focus {
  outline: none;
}
#ChatBar_search_div input::placeholder {
  color: white;
  font-weight: 400;
}

/*  */

#ChatBar_RecentMessages {
  width: 100%;
  min-height: 0;
  overflow-y: auto;
  height: 100vh;
  /* height:; */
  position: relative;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#r_border_botton {
  height: 10px;
  width: 100%;
  background-color: darkorchid;
}

.messagePreviewDiv {
  width: 100%;
  height: 80px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
}
.mp_avatarDiv {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mp_avatarDiv div {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(80, 24, 133);
}
.mp_subDiv {
  flex: 1;
  display: grid;
  grid-template-rows: 1, 1;
}
.mp_name_time_div {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mp_name_time_div h5 {
}
.mp_name_time_div h6 {
}

.mp_message_div {
  background-color: rgb(0, 0, 0);
  align-content: center;
}
.mp_message_div h6 {
}

#r_cb_floating_button {
  position: absolute;
  right: 25px;
  bottom: 156px;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: rgb(128, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
