#tab_div_container {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  align-items: center;
  justify-content: center;
}
#tab_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_name_div {
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: white;
  font-size: small;
}
.tab_name_div:hover {
  background-color: rgba(255, 255, 255, 0.124);
  cursor: default;
}

.current_tab {
  background-color: blueviolet;
}
.current_tab:hover {
  background-color: blueviolet;
}
.not_curret_tab {
  background-color: rgba(255, 255, 255, 0.05);
}
